body, h1, h2, h3, h4, h2 a, h3 a  {
    font-family: 'Iowan Old Style', 'Lustria', "Times New Roman", serif;
}

a {
    color: #8A0707;
}

a:hover {
    text-decoration: none;
    color: #8a0707;
}

.header {
    background-color: #FEFEFE;
    border-bottom: 4px solid #8A0707;
}

#navbar {
    border-bottom: 4px solid #8A0707;
}

#blog-title {
    color: #8A0707;
}

#article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article-summary {
    margin-bottom: 0.25em;
    cursor: pointer;
}
