@media screen and (min-width: 320px) {
    .project-container {
        width: 100%;
    }

    .project-container > .card {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 800px) {
    .project-container {
        width: 50%;
    }

    .project-container > .card {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.project-list-container {
    border-bottom: 4px solid #8A0707;
}

.project-container {
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.wrapper > * {
    pading: 10px;
    flex: 1 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    flex: 0 1 auto;
}

footer {
    border-bottom: 4px solid #8A0707;
}

body, h1, h2, h3, h4, h2 a, h3 a  {
    font-family: 'Iowan Old Style', 'Lustria', "Times New Roman", serif;
}

a {
    color: #8A0707;
}

a:hover {
    text-decoration: none;
    color: #8a0707;
}

#navbar {
    border-bottom: 4px solid #8A0707;
}

#blog-title {
    color: #8A0707;
}

#article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article-summary {
    margin-bottom: 0.25em;
    cursor: pointer;
}
